label {
    width: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

input {
    margin-top: 25px;
    margin-bottom: 25px;
}

body {
    background-color: purple;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

button {
    margin-top: 25px;
    margin-bottom: 25px;
}
